<section class="component-browse-artwork">
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
  <%= partial "partials/artwork-item" %>
</section>
