<%= partial "partials/navigation" %>

<article class="page-artwork-single">
  <%= partial "components/component-overview" %>
  <%= partial "components/component-background" %>
</article>

<section class="gallery-container">  
  <%= partial "components/component-gallery-artist" %>
  <%= partial "components/component-gallery-recommended" %>
</section>

<%= partial "partials/footer" %>