<div class="refills-components">

  <a class="js-menu-trigger-refills refills-menu-anchor fixedsticky">
    <img src="/images/menu.png" alt="Menu icon">
  </a>
  <div class="js-menu-screen-refills refills-menu-screen"></div>

  <%= partial "refills-hero" %>
  <%= partial "refills-menu" %>

  <div id="example">

    <div id="pagination" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Pagination</h6></div>
        <%= partial "refills/pagination" %>
      </div>
      <div class="refill-snippet"><%= code_for('refills/pagination') %></div>
    </div>

    <div id="modal" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Modal</h6></div>
        <div class="refill-centering"><%= partial "refills/modal" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/modal') %></div>
    </div>

    <div id="sliding-menu" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Sliding Menu</h6></div>
        <div class="refill-centering"><%= partial "refills/sliding_menu" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/sliding_menu') %></div>
    </div>

    <div id="badges" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Badges</h6></div>
        <div class="refill-centering"><%= partial "refills/badges" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/badges') %></div>
    </div>

    <div id="breadcrumbs" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Breadcrumbs</h6></div>
        <div class="refill-centering"><%= partial "refills/breadcrumbs" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/breadcrumbs') %></div>
    </div>

    <div id="hover-tile-animation" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Hover Tile Animation</h6></div>
        <div class="refill-centering"><%= partial "refills/hover_tile_animation" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/hover_tile_animation') %></div>
    </div>

    <div id="accordion" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Accordion</h6></div>
        <div class="refill-centering"><%= partial "refills/accordion" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/accordion') %></div>
    </div>

    <div id="search-bar" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Search bar</h6></div>
        <div class="refill-centering"><%= partial "refills/search_bar" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/search_bar') %></div>
    </div>

    <div id="switch" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Switch</h6></div>
        <div class="refill-centering"><%= partial "refills/switch" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/switch') %></div>
    </div>

    <div id="image-gradient" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Image with gradient overlays</h6></div>
        <div class="refill-centering"><%= partial "refills/image_gradient_dynamic" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/image_gradient_dynamic') %></div>
    </div>

    <div id="button-group" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Button Group</h6></div>
        <div class="refill-centering"><%= partial "refills/button_group" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/button_group') %></div>
    </div>

    <div id="dropdown" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Dropdown</h6></div>
        <%= partial "refills/dropdown" %>
      </div>
      <div class="refill-snippet"><%= code_for('refills/dropdown') %></div>
    </div>

    <div id="progress-bar" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Progress Bars</h6></div>
        <div class="refill-centering"><%= partial "refills/progress_bar" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/progress_bar') %></div>
      <div class="refills-wrapper">
        <div class="refill-centering"><%= partial "refills/progress_bar_indication" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/progress_bar_indication') %></div>
    </div>

    <div id="tooltip" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Tooltip</h6></div>
        <div class="refill-centering"><%= partial "refills/tooltip" %></div>
      </div>
      <div class="refill-snippet"><%= code_for('refills/tooltip') %></div>
    </div>

    <div id="video" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Responsive Video Embed</h6></div>
        <%= partial "refills/video" %>
      </div>
      <div class="refill-snippet"><%= code_for('refills/video') %></div>
    </div>

    <div id="textures" class="refill">
      <div class="refills-wrapper">
        <div class="line-behind-text"><h6>Textures</h6></div>
        <%= partial "refills/texture-legend" %>
        <%= partial "refills/textures" %>
      </div>
      <div class="refill-snippet"><%= code_for('refills/textures') %></div>
    </div>

  </div>
</div>

<%= partial "refills-page-scripts" %>
